.form-control {
    -webkit-appearance: auto !important;
}
img {
    width: 100px
}

.img img{
    height: 160px;
    width: 150px;
    background-color: #80808024;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
  }
  .img label{
    color: #1577ff;
  }
  
  .photo{
    color: #1577ff;
    font-size: 14px;
    padding-left: 12px;
  }